@import url('https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic');

body {
  background-color: #A4C3B2;
  font-family: 'Roboto', Arial;
  font-size: 24px;
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


h1 {
  color: #CCE3DE;
  font-weight: 100;
  font-size: 70px;
  padding-top: 30px;
  padding-bottom: 15px;
}


.todo-box {
  background-color: #F6FFF8;
  height: 275px;
  min-height: 90%;
  min-width: 50%;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 2px;
  padding: 15px;
}

.fa-chevron-down {
  color: grey;
  border-style: none;
  margin-right: 5px;
}

.toggleAllCompleted {
  color: black;
}

.addTodo {
  font-size: 20px;
  border-top-color: #A4C3B2;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

input::placeholder {
  color: #d9d9d9;
  font-size: 16px;
  font-style: italic;
  font-weight: 100;
}

.addTodoTextInput {
  background-color: #F6FFF8;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
}

.todo-list {
  margin: 0;
  padding: 0;
}

li {
  font-size: 20px;
  font-weight: 200;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 5px;
  margin-bottom: auto;
}

.toggleCompletedButton {
  background-color: #F6FFF8;
  border-color: #6B9080;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  width: 25px;
  height: 25px;
}

.fa-check {
  color: #6B9080;
}

.deleteButton {
  background-color: #F6FFF8;
  color: #8f4c3f;
  border: none;
  font-size: 15px;
}

.deleteButton:hover {
  color: red;
}

input {
  border-color: #000;
  border-width: 1px;
}

button {
  border-color: #6B9080;
  background-color: #F6FFF8;
  border-style: solid;
}

.changeTodo {
  margin-top: auto;
}
