body {
  background-color: #A4C3B2;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

title {

}

h1 {

}


.todo-box {
  background-color: #F6FFF8;
  height: 700px;
  max-height: 85%;
  width: 550px;
  max-width: 50%;
  border-radius: 5px;
  padding: 15px;

  display: flex;
  flex-direction: column;
}
